body {
    background: burlywood;
}

#myVideo{
    position: fixed;
    width: 100%;
    top:0%;
    left: 0%;
    object-fit: cover;
    z-index: -1;
    visibility: hidden;
}

#beschriftung{
    position: absolute;
    left: 0%;
    width: 100%;
    height: 100px;
    background: rgba(252, 252, 252, 0.5);
    visibility: hidden;    
}

#fieldset_box{
    width: 15%;
    text-align: left;
    margin: auto;
}
