body {
    background: burlywood;
}

#myVideo{
    position: fixed;
    width: 100%;
    top:0%;
    left: 0%;
    visibility: hidden;
}

#beschriftung{
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    background: rgba(252, 252, 252, 0.5);
    visibility: hidden;
    
}

#fieldset_box{
    width: 15%;
    text-align: left;
    margin: auto;
}